@model IEnumerable<AP.Models.Product>

@{
    ViewBag.Title = "View";
}

<h2>Products</h2>

<!-- FOREACH + SWITCH -->
@foreach (var item in Model)
{
    <ul>
        @switch (item.Price)
        {
            case 20:
                <li class=" link-primary">
                    Price: @item.Price | Name: @item.Name | Category: @item.Id
                </li>
                    break;

                case 10:
               <li class=" link-secondary">
                     Price: @item.Price | Name: @item.Name | Category: @item.Id
                </li>
                break;

            case 30:
                <li class=" link-danger">
                    Price: @item.Price | Name: @item.Name | Category: @item.Id
                </li>
                break;

            default:
                <li>
                    Price: @item.Price | Name: @item.Name | Category: @item.Id
                </li>
                break;
        }
    </ul>
}

<hr />

<!-- FOR CLASICO -->
@for (int i = 0; i < Model.Count(); i++)
{
    <label>This is Item</label> @i
    <div>
        @Model.SingleOrDefault(p => p.Id == i)
    </div>
}
